* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex; /* Use flexbox for layout */
}

.sidebar {
    width: 33.33%; /* Left third of the page */
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    align-items: center; /* Center items horizontally */
    height: 100vh; /* Full height of the viewport */
}

.sidebar h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0; /* Space between menu items */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    width: 66.67%; /* Right two-thirds of the page */
    padding: 20px;
}

.hero, .projects, .about, .contact {
    margin-bottom: 20px; /* Space between sections */
}

.category {
    margin-bottom: 40px; /* Space between categories */
}

.category img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
}

.category h3 {
    margin-top: 0; /* Remove default margin from top */
}

footer {
    text-align: center;
}